{% for comment in post.comment_set.all %}

	<div class="comment">
		<h3 class="name">{{ comment.person }}</h3>
		<h4 class="published">Commented on: {{ comment.pub_date|date:"M d, Y h:m:s" }}</h4>
		<p class="text">{{ comment.comment_text }}</p>
	</div>

{% empty %}
	<p id="first">Be the first of your friends to comment on this post.</p>

{% endfor %}

<h2 class="cursive write-comment">Write a Comment!</h2>
<form action="{% url 'blogapp:comment' post.id %}" method="POST" class="form-horizontal" role="form">{% csrf_token %}
	<div class="form-group">
		<label class="control-label col-sm-2">Name:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" name="person" id="person">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2">Comment:</label>
		<div class="col-sm-10">
			<textarea class="form-control" name="comment" id="comment"></textarea>
		</div>
	</div>
	<button type="submit" class="btn btn-comment">Submit</button>
	</div>
</form>
