{% extends 'base.html' %}

{% block 'title' %} Most Recent Blog Post {% endblock 'title' %}
{% block 'content' %}

{% for post in post_list %}
	<a href="{% url 'blogapp:detail' post.id %}">
		<div class="preview">
			<h3 class="title">{{ post.title }}</h3>
			<p class="published">Published {{ post.pub_date|date:"M d, Y" }}</p>
			<h4 class="poster">by <span class="cursive">{{ post.blog_poster}}</span></h4>
			<p class="body">{{ post.body|slice:":100" }}...</p>
			<div class="category">
				{% for category in post.category.all %}
					<p>{{ category }}</p>
				{% endfor %}
			</div>
			<p class="keywords">{{ post.keywords.split|join:", " }}</p>
		</div>
	</a>
{% empty %}
	<p>No posts to show.</p>
{% endfor %}

{% endblock 'content' %}
